.LeftMenu {
    height:fit-content;
    width: 20%;
}

.LeftMenuTop {
    background-color: white;
    height:fit-content;
    border-radius: 7px;
    border: 1px solid whitesmoke;
}
.ProfileBlock {
    text-align: center;
    margin: 5%;
}

.ProfilePictureMenu {
    display: block;
    margin: auto;
    width:40px; 
    height:40px;
    border-radius: 50%;    
}
.LastestActivity {
    margin: 5%;
}
.TraingingLog {
    margin: 5%;
}
.LeftTable {
    margin: auto;
}
.LeftMenuBottom {
    background-color: white;
    height:fit-content;
    border-radius: 7px;
    border: 1px solid whitesmoke;
    margin-top: 10%;
}
.LeftManuBottom-Nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
}