.MiddleMenu {
    background-color:white;
    width:50%;
    height: fit-content;
    margin-left:auto;
    margin-right:auto;
    padding: 1%;   
    border-radius: 7px;
    border: 1px solid whitesmoke;
}

.MiddleTextBlock 
{
    background-color: white;
    margin-left: 40px;
}

.MiddleTable {
    width: 60%;
}


.ProfilePictureActivity
{
    float:left; 
    width:40px; 
    height:40px;
    border-radius: 50%; 
}

.Rute {
    width: 100%;
    padding-top: 25px;
    border-radius: 7px;
}

.TH 
{
    font-size: 50%;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.TR 
{
    font-size: 100%;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}